# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# SSH keys
*.pem
*.key
*.pub

# OS / Editor
.DS_Store
.vscode/
.idea/

**/ansible/inventory/hosts.ini
